a-scene > div {
    font-family: Roboto, sans-serif;
    color: white; 
    position: absolute; 
    z-index: 999
}

#status {
    top:50%; 
    left:0%; /*calc(50% - 100px); */
	width:100%;
	text-align: center;
    font-size: 150%;
    font-weight: bold;
}

#hud {
    font-size: 100%;
    top: calc(100% - 32px);    
    left: 0%;
}

a-scene > div > span {
    padding: 5px;
}
    
    
